<div class="container-fluid">
   <div class="heading">
    Events, in this section you can add or access list of events created by Sahaja Yogis
   </div> 

<div class="row">

        <div class="col-4"></div>

<div class="col-6">
   <div class="example-button-row">
    
    <button mat-raised-button color="primary" routerLink="/create">Create Event</button>
    <button mat-raised-button color="accent" routerLink="/eventslist">See list of events</button>
    <!-- <button mat-raised-button color="warn" routerLink="/create">Test</button> -->
  </div>
  <div class="col-2"></div>
</div>


</div>



</div>

