<section id="intro">

    <div class="container">
    
    
    
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">What is Sahaja Yoga?</h2>
            <!-- <h3 class="section-subheading text-muted">Shri Mataji Nirmala Devi</h3> -->
          </div>
        </div>
    
     <br>
    
     <div class="row">
    
         <div class="col">
           <mat-card >
               <p class="text-left" style="font-size:18px">
             Historically, Self-Realization, the awakening of the inner energy has been very difficult to achieve.
             Shri Mataji, the founder of Sahaja Yoga Meditation, has developed a simple technique
              by which one can receive self-realization even through the Internet and feel it happen on our
              central nervous system.
              So, sit comfortable on chair or on floor with both hands open on your lap.
              Follow the instructions in the video for the realisation steps.
            </p>
           </mat-card>
        <br>
         </div>
    
    
         <div class="col">
           <mat-card >
            <iframe  src="https://www.youtube.com/embed/fwKd9hUtc4w" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </mat-card>
        <br>
         </div>
    
    
         <div class="col">
           <mat-card>
             <!-- <mat-card-title>
               <h2>About Founder</h2>
             </mat-card-title> -->
           <p class="text-left" style="font-size:18px">
             A simple time-honored technique to reduce stress and improves wellness in our daily life.
        'Saha' means spontaneous, 'ja' means Born With and 'Yoga' means Union with Cosmos.﻿
        Anyone can do it. It’s also free.
       <a href="/classes" style="color:#B42328;">
         <b style="color:#B42328;">...Experience It...﻿</b>
       </a>
    
        ﻿</p>
      </mat-card>
         </div>
    
    
       </div>
     </div>
    
    </section>
    
    <div class="container">
    
      <div class="row">
    
      <div class="col-md-4 col-xs-6">
      <mat-card class="example-card">
    
      <img mat-card-image src="assets/img/Shri Mataji-2.jpg"  >
    
      </mat-card>
      </div>
    
    
    
    
        <div class="col-md-8 col-xs-8">
    
    <mat-card>
    
        <mat-card-content>
    <h4 style="color:#B42328;">   Shri Mataji Nirmala Devi
      </h4>
    <p style="font-size:18px">
      Shri Mataji Nirmala Devi founded Sahaja Yoga in 1970 in India.
    Since then, she traveled extensively throughout the world, offering free public lectures and the
    experience of 'self-realization' to all, regardless of race, religion or circumstance.<br><br>
    She not only enabled people to pass this valuable experience on to others,
    but taught the meditation technique necessary to sustain it, known as Sahaja Yoga.<br><br>
    Shri Mataji was born in 1923, many years before most of us in British colonial India.
     She along with her family was part of the freedom struggle that brought nationhood to over 350 million people.<br><br>
    After the proclamation of independence, she married Sir C.P. Srivastava who was
     a prominent member of 'Indian Administration Services' and later on became the
     'Secretary to the then Prime Minister of India'. This was followed by a glittering career as
    "Secretary General of United Nations International Maritime Organization".<br><br>
    Sahaja Yoga practitioners
    continue to teach meditation free of charge, as was emphasized by her,
     and try to make a difference in everybody's life, the way they have felt it in their hearts
    </p>
    <p> </p>
    </mat-card-content>
    </mat-card>
    </div>
    
    
    </div>
    
    
    <div class="row">
    
      <div class="col-md-10 col-xs-6">
    
    <mat-card>
    
        <mat-card-content>
    
          <h4 style="color:#B42328;"> Awards & Recognitions  </h4>
    
          Many honorary awards and doctorates were bestowed to Shri Mataji from various institutions around the world.<br><br>
          ﻿﻿
    
          <Strong>New York, 1990-1994</Strong><br>
          Invited by the United Nations for four consecutive years to speak about the ways and means to achieve world peace.<br>
          <Strong>St. Petersburg, Russia, 1993</Strong><br>
          Appointed as Honorary Member of the Petrovskaya Academy of Art and Science. In the history of the Academy, only twelve
          people have been granted this honour, Einstein being one of them. Shri Mataji inaugurated the first International Conference
          on Medicine and Self-Knowledge, which became an annual event at the Academy thereafter.<br>
    
          <Strong>Romania 1995</Strong><br>
          Awarded Honorary Doctorate in Cognitive Science by Prof D. Drimer, head of the Ecological University Bucharest.<br>
          <Strong>China, 1995</Strong><br>
          Official guest of the Chinese Government to speak at the United Nations International Women’s Conference.<br>
    
          <Strong>London, 1997</Strong><br>
          Mr. Claes Nobel, grandnephew of Alfred Nobel, chairman of United Earth and The National Society of High School Scholars,
          honoured the life and work of  Shri Mataji in a public speech at the Royal Albert Hall.<br>
          <Strong>USA, 105th Congress, 1997 and 106th Congress, 2000</Strong><br>
          Honorarium read into Congressional Record by Congressman Eliot Engle commending Shri Mataji for her dedicated and tireless
          work for humanity.<br>
          <Strong>Cabella Ligure, Italy, 2006</Strong><br>
          Shri Mataji was awarded honorary Italian citizenship, which was followed by the unveiling of the foundation stone for the
          'Shri Mataji Nirmala Devi World Foundation of Sahaja Yoga.' This Foundation has its home in Cabella Ligure.
        </mat-card-content>
      </mat-card>
    </div>
    
    
    
    </div>
    </div>
    