<div class="container-fluid">
        <div class="heading">
         Please enter the details below
        </div> 
    
        <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name of the event">
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Experience in details"></textarea>
                </mat-form-field>
              
                <!-- <mat-form-field>
                  <mat-select placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field> -->

                <div class="row">

                       
                
                <div class="col-6">
                   <div class="example-button-row">
                    
                    <button mat-raised-button color="primary" routerLink="/create">Submit</button>
            
                  </div>
                  <div class="col-2"></div>
                </div>
                
                
                </div>
              </div>
     
     </div>
     