<header class="masthead">

  <div class="title">Sahaja Yoga Meditation</div>

</header>

<br>

<section id="whymeditate">

  <div class="container">

    <div class="row">

      <div class="col-4">

        <mat-card class="example-card">
          <mat-card-header>
            
            <mat-card-title class="subtitle">Why Meditate?</mat-card-title>
          </mat-card-header>
          
          <mat-card-content>
            <p class="text-left" style="font-size:18px">
              Improved Health.<br>
              Peace and Joy.<br>
              Higher purpose.<br>
            </p>
          </mat-card-content>
       
        </mat-card>

      </div>

      <div class="col"></div>

      <div class="col-7">

        <mat-card class="example-card">
          <mat-card-header>
            
            <mat-card-title class="subtitle">Scientifically proven way to improve life</mat-card-title>
          </mat-card-header>
          
          <mat-card-content class="text-left" style="font-size:18px">
           Meditation is a scientifically proved way to improve one's health and balance in life. Today, meditators from across the globe, whether young
           or old, have found an effective way of bettering their lives using Sahaja Yoga Meditation. Its surprising simplicity combined with immediate and
           tangible results has proved that Sahaja Yoga Meditation is a wholesome and enriching experience.
           <a class="nav-link" routerLink="/classes">
            Start today <span class="sr-only"></span></a>
          </mat-card-content>
       
        </mat-card>

      </div>

      <!-- <div class="col">

        <div class="subtitle"> 
          Why Meditate?
        </div>
        <div>
          .Improved health<br>
          .Peace and Joy<br>
          .Seeking purpose in life
        </div>

      </div> -->
    </div>
  </div>
</section>