<nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" routerLink="/home">Eternal Moments</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  routerLink="/home">
            Search</button>
        </form>
      </nav>
      
      <!-- <div  class="container-fluid">
        
        <div class="container1content">A collection of eternally inspiring<br>
        <div>
      moments spent with Shri mata ji . . .
      <br>
      Website work in progress..
      </div>
      </div>
      </div> -->
      <router-outlet></router-outlet>
