.navbar-brand
{
color: #CC1D6E;
font-size: 25px;
}

.container1content
{
//text-align: left;
font-size: 30px;
padding-top: 15px;

}

.container-fluid
{
 background-color: pink;
min-height: 200px;
}

#container1
{
//text-align: left;
font-size: 30px;
padding-top: 15px;
color: #CC1D6E
}