header.masthead {

    text-align: center;
    color: white;
    background-image: url("../../assets/img/landscapes-at-dusk-on-the-blue-ridge-parkway.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
  }

  .title
  {
      padding-top: 100px;
      font-size: 50px;
      color: rgb(180, 35, 40);
  }

  .subtitle
  {
      //padding-top: 100px;
      font-size: 25px;
      color: rgb(180, 35, 40);
  }

  .example-card {
    max-width: 600px;
  }